body {
    background-color: #C0C0C0;
    color: black;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
h1, h2, h3 {
    margin: 0px;
}
#container {
    background-color: #C0C0C0;
    width: 1024px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#navigator {
    background-color: #C0C0C0;
    color: black;
    max-width: 1024px;
    float: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;
}
    .nav-button {
        background-color: #000080;
        color: white;
        border-style: outset;
        border-width: 2px;
        border-color: #ffffff #808080 #808080 #ffffff;
        padding: 10px;
        width: 110px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family:"Pixelated", "MS Sans Serif", sans-serif;
        font-size: 15px;
    }
.nav-button:hover {
    background-color: #00008B;
    opacity: 1;
    box-shadow: none;
    text-decoration: none;
}
#intro {
    background-color: #C0C0C0;
    max-width: 1024px;
    float: center;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}
.image-container {
    position: relative;
    width: 100px;
    height: 100px;
}
.image-container img {
    width: 100px;
    height: 100px;
}
.image-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}
.image-container:hover .overlay {
    opacity: 1;
}
.image-container .text {
    color: black;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#main {
    background-color: #C0C0C0;
    max-width: 1024px;
    float: center;
    padding: 10px;
    text-align: left;
}
#media {
    background-color: #C0C0C0;
    max-width: 1024px;
    float: center;
    padding: 10px;
    text-align: center;
}
#iframe-main {
    padding: 10px;
    width: 1024px;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
#iframe-main iframe {
    border: 4px solid rgb(0, 128, 127);
}
#socials {
    background-color: #C0C0C0;
    max-width: 1024px;
    float: center;
    padding: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .fa {
        padding: 10px;
        font-size: 25px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
    .fa:hover {
        background-color: rgb(0, 128, 127);
        opacity: 1;
        box-shadow: none;
        text-decoration: none;
    }
    .fa-youtube, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-github{
        background-color: rgb(0, 128, 127);
        color: white;
        border-style: outset;
        border-width: 2px;
        border-color: #ffffff #808080 #808080 #ffffff;
        padding: 10px;
        width: 50px;
        height: 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
}
#footer {
    background-color: #C0C0C0;
    max-width: 1024px;
    clear: both;
    padding: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
    font-size: small;
    color:black;
}